@use "../abstracts/variables" as *;
@use "../components/btns" as *;

.users-container {
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;

  h1 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 20px;
    margin-left: 8em;


  }

  table {
    margin-left: 8em;
    width: 100%;
    border-collapse: collapse;
    max-height: 25vh; 
    th,
    td {
      padding: 8px;    
      text-align: center;
      border-bottom: 1px solid $light-gray;
      font-size: 14px;
    }

    th {
      background-color: $primary-color;
      color: $light-color;
    }

    tr:nth-child(even) {
      background-color: $light-bg;
    }

    button {
      margin: 2px;
      padding: 6px 12px;
      font-size: 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.btn-role {
        background-color: $secondary-color;
        color: $dark-color;

        &:hover {
          background-color: $third-color;
        }
      }

      &.btn-active {
        background-color: $active-color;
        color: $light-color;

        &:hover {
          background-color: darken($active-color, 10%);
        }
      }
    }
  }
}
